@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  background: url("https://images.unsplash.com/photo-1662624565375-a8349985ed6e?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fHx8fA%3D%3D")
    no-repeat center center/cover;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  height: 100vh;
  overflow: hidden;
  padding-left: 20px;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.input-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.result-section {
  border: 1px solid black;
  display: none; /* Hides the container initially */
  width: 100%;
  background-color: whitesmoke;
  color: #06184a;
  text-align: center;
  padding: 15px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  box-sizing: border-box;
  min-height: 50px; /* Ensures a fixed space for the result */
}

button {
  background-color: #ffcc00;
  border: 1px solid black;
  padding: 20px;
  font-size: 25px;
  line-height: 1.2;
  color: black;
  cursor: pointer;
  border-radius: 25px;
  width: 100%;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

button:hover {
  background-color: #ffdb4d;
}

.input-section input,
.input-section select,
.input-section button {
  width: calc(100% - 2px);
  /* Fine-tuning to avoid subtle differences */
  padding: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  /* Ensures that padding does not affect actual width */
}

.title {
  font-size: 18px;
  font-weight: bold;
}

#result {
  font-size: 25px;
  font-weight: bold;
}
